{% extends 'generic/object.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-3">Solution for {{ vm.name }}</h3>
        {% if solution %}
          <div class="card mb-3">
          <h4>{{ solution.name }} ({{solution.solution_number}})</h4>
          </div>

          {% for group_name, fields in grouped_fields.items %}
            <div class="card mb-3">
              <div class="card-header">
                <h5>{{ group_name }}</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for field in fields %}
                    <div class="col-md-6 d-flex align-items-center mb-2">
                      <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                        {{ field.verbose_name|title }}:
                      </span>
                      <span>
                        {% if field.has_url and field.value %}
                          <a href="{{ field.value.get_absolute_url }}">{{ field.value|bettertitle|placeholder }}</a>
                        {% elif field.value is None %}
                          {{ field.value|placeholder }}
                        {% else %}
                          {{ field.value|bettertitle|placeholder }}
                        {% endif %}
                      </span>
                    </div>
                    {% if forloop.counter|divisibleby:2 and not forloop.last %}
                      </div><div class="row">
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}

          {% if deployment %}
            <div class="card mb-3">
              <div class="card-header">
                <h5>Deployment</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Name:
                    </span>
                    <span>
                      <a href="{{ deployment.get_absolute_url }}">{{ deployment.name|placeholder }}</a>
                    </span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Description:
                    </span>
                    <span>{{ deployment.description|placeholder }}</span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Version:
                    </span>
                    <span>{{ deployment.version|placeholder }}</span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Status:
                    </span>
                    <span>{{ deployment.status|bettertitle|placeholder }}</span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Deployment Type:
                    </span>
                    <span>{{ deployment.deployment_type|bettertitle|placeholder }}</span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Solution:
                    </span>
                    <span>
                      {% if deployment.deployment_solution %}
                        <a href="{{ deployment.deployment_solution.get_absolute_url }}">{{ deployment.deployment_solution|bettertitle|placeholder }}</a>
                      {% else %}
                        {{ ''|placeholder }}
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      VLAN:
                    </span>
                    <span>
                      {% if deployment.deployment_vlan %}
                        <a href="{{ deployment.deployment_vlan.get_absolute_url }}">{{ deployment.deployment_vlan|bettertitle|placeholder }}</a>
                      {% else %}
                        {{ ''|placeholder }}
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Prefix:
                    </span>
                    <span>
                      {% if deployment.deployment_prefix %}
                        <a href="{{ deployment.deployment_prefix.get_absolute_url }}">{{ deployment.deployment_prefix|bettertitle|placeholder }}</a>
                      {% else %}
                        {{ ''|placeholder }}
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Site:
                    </span>
                    <span>
                      {% if deployment.deployment_site %}
                        <a href="{{ deployment.deployment_site.get_absolute_url }}">{{ deployment.deployment_site|bettertitle|placeholder }}</a>
                      {% else %}
                        {{ ''|placeholder }}
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-md-6 d-flex align-items-center mb-2">
                    <span class="fw-bold text-nowrap me-2" style="min-width: 250px; text-align: left;">
                      Previous Version:
                    </span>
                    <span>
                      {% if deployment.previous_version %}
                        <a href="{{ deployment.previous_version.get_absolute_url }}">{{ deployment.previous_version|bettertitle|placeholder }}</a>
                      {% else %}
                        {{ ''|placeholder }}
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

           
          {% if related_vms.data or related_devices.data %}
            <div class="card mb-3">
              <div class="card-header">
                <h5>Related Assets</h5>
              </div>
              <div class="card-body">
                {% if related_vms.data %}
                  <h6>Virtual Machines</h6>
                  {% render_table related_vms %}
                {% endif %}
                {% if related_devices.data %}
                  <h6>Devices</h6>
                  {% render_table related_devices %}
                {% endif %}
              </div>
            </div>
          {% endif %}


          {% if other_deployments %}
            <div class="card mb-3">
              <div class="card-header">
                <h5>Other Deployments</h5>
              </div>
              <div class="card-body">
                {% render_table other_deployments %}
              </div>
            </div>
          {% endif %}
          
        {% else %}
          <p class="text-muted">No solution found with project ID matching '{{ vm.name|split:'-'|slice:':2'|join:'-' }}'.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}