{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h3>Solution for {{ vm.name }}</h3>
      {% if solution %}
        <div class="card mb-3">
          <div class="card-header">
            <h4>{{ solution.name }}</h4>
          </div>
        </div>
        {% for group_name, fields in grouped_fields.items %}
          <div class="card mb-3">
            <div class="card-header">
              <h5>{{ group_name }}</h5>
            </div>
            <div class="card-body">
              <div class="row row-cols-1 row-cols-md-2 g-3">
                {% for field in fields %}
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <div class="fw-bold text-nowrap me-2" style="min-width: 200px;">
                        {{ field.verbose_name|title }}:
                      </div>
                      <div>
                        {% if field.has_url and field.value %}
                          <a href="{{ field.value.get_absolute_url }}">{{ field.value|bettertitle|placeholder }}</a>
                        {% elif field.value is None %}
                          {{ field.value|placeholder }}
                        {% else %}
                          {{ field.value|bettertitle|placeholder }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row row-cols-1 row-cols-md-2 g-3">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No solution found with project ID matching '{{ vm.name|split:'-'|slice:':2'|join:'-' }}'.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}