{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h3>Solution for {{ vm.name }}</h3>
      {% if solution %}
        <div class="card">
          <div class="card-header">
            <h4>{{ solution.name }}</h4>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              {% for field in solution|get_fields %}
                <tr>
                  <th>{{ field.name|title }}</th>
                  <td>
                    {% with value=solution|get_field_value:field.name %}
                      {% if value|is_object_with_url %}
                        <a href="{{ value.get_absolute_url }}">{{ value|bettertitle|placeholder }}</a>
                      {% elif value|length_is:0 or value == None %}
                        {{ value|placeholder }}
                      {% else %}
                        {{ value|bettertitle|placeholder }}
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      {% else %}
        <p>No solution found with project ID matching '{{ vm.name|split:'-'|slice:':2'|join:'-' }}'.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}