{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}

{% block content %}
<h2>{{ object.name }} - Diagram</h2>

<div class="tab-content">
    <div class="tab-pane active">
        <div class="mermaid">
            {{ mermaid_source|safe }}
        </div>
    </div>
</div>

<h2>{{ object.name }} - Code</h2>

<div class="tab-content">
    <div class="tab-pane active">
        <div>
            {{ mermaid_source|safe }}
        </div>
    </div>
</div>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{% endblock %}