{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
<div class="col col-md-5">
<div class="card">
    <h5 class="card-header">Details</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            {% for field in field_data %}
                <tr>
                    <th scope="row">{{ field.name|title }}</th>
                    <td>
                        {% if field.url %}
                            <a href="{{ field.url }}">{{ field.value }}</a>
                        {% else %}
                            {{ field.value }}
                        {% endif %}
                    </td>
                </tr> 
            {% endfor %}
        </table>
    </div>
</div>
</div>
<div class="col col-md-12">
{% for related_table in related_tables %}
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>{{ related_table.name|title }}</span>
            {% if related_table.add_url %}
                <a href="{{ related_table.add_url }}" class="btn btn-sm btn-primary">
                    <i class="mdi mdi-plus"></i> Add
                </a>
            {% endif %}
        </h5>
        <div class="card-body">
                {% render_table related_table.table %}
        </div>
    </div>
{% endfor %}
</div>
 </div>
</div>   
</div>
{% endblock %}